*{
  margin: 0;padding: 0;
  font-family: Roboto-Light;
}

body{
  text-align: justify;
  background: #065F73;
  color: #D8D8D8;
}
h2{
  font-size: 25px;
  color:#D8D8D8;
}
h3{
  font-size: 20px;
}
h4{
  font-size: 17px;
}

P{
  font-size: 15px;
}

a{
  padding: 15px;
  color: #ffff;
}
