<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gracias</title>
  </head>
  <body>
    <h3>Se ha reservao cupo a través de TEE-SHOT de la siguiente manera:</h3>

    <p>Club:____{{clu}}</p>
    <p>Salida:__{{cam}}</p>
    <p>Fecha:___{{fec}}</p>
    <p>Hora:____{{filaagenda[6]}}</p>

    <h3>Por favor recuerde que si no se presenta a tiempo en el sitio de salida perderá su tuno. "Un tuno perdido no se puede recuparar y le quita opción de juego a otas Golfistas".</h3>
    <br>
    <hr>
    <p>Turno solicitado por: {{usuario}}</p>
    <hr>
    <br><br>
    <br><br><br>
    <p>¡Este correo es automático, por favor no responderlo porque no hay un persona asignada pra su lectura!</p>
  </body>
</html>
