<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gracias</title>
  </head>
  <body>
    <h3>{{nombre}}, Muchas gracias por tu registro en TEE-SHOT </h3>

    <p>Has creado un usuario en nuestra plataforma, para ingresar por favor utliliza los siguientes datos:</p>
    <br>
    <p>Usuario: {{usuario}}</p>
    <p>Contraseña: {{contrasegna}}</p>
    <br><br>
    <h3>Importante: Debes cambiar tu contraseña al realizar el primer ingreso.</h3>
    <br><br><br>
    <p>¡Este correo es automático, por favor no responderlo porque no hay un persona asignada pra su lectura!</p>
  </body>
</html>
