<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gracias</title>
  </head>
  <body>
    <h3>Se ha reestablecido tu contraseña en TEE-SHOT</h3>

    <p>Para ingresar por favor utliliza la siguiente información:</p>
    <br>
    <hr>
    <p>Contraseña: {{contrasegna}}</p>
    <hr>
    <br><br>
    <h3>Importante: Debes cambiar tu contraseña una vez ingreses.</h3>
    <br><br><br>
    <p>¡Este correo es automático, por favor no responderlo porque no hay un persona asignada pra su lectura!</p>
  </body>
</html>
