{% extends "layout_autenticado.html" %}
{% block content%}
<head>
<!--    <meta charset="UTF-8">
  <title>Formularios con CSS</title>-->
  <link rel="stylesheet" href="{{url_for('static',filename='CSS/ppal.css')}}"/>
</head>
<body>
  <h3>{{culb}}</h3>
  <p>En {{campo}}</p>
  <p>Se modificó el turno: {{turno}}</p>

  <p>Los usuarios que han quedado registrados son: {{jugadores}}</p>

  <form class="" action="{{url_for('vaparameters')}}" method="post">

    <input type="submit" name="" value="REGRESAR">
  </form>




    <ul class="">
      <li><a href="{{url_for('logout')}}">Cerrar Sesión</a></li>

    </ul>
     <br><br><br>
</body>
{% endblock %}
